   @using InternetBanking.ViewModels
@model AddMoneyViewModel
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Счета";
}

<section class="form-section">
    <h2 class="title">Пополнение счета </h2>
    <div class="form col-lg-4 col-md-5 col-sm-6  col-xs-12">


    <form method="post" asp-controller="Transfer" asp-action="AddMoneyUserAccount">

        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Account.Id" />

       
      
        
        <div style="font-size: 20px;">@Model.Account.Number</div>
        <br/>

        <div>
            
            <label asp-for="Amount"></label><br/>
            <input class="form-control" type="number" oninput="up(this)" step="0.01" id="amountinput" placeholder="0,00" asp-for="Amount"/>
            <div><span class="validation" asp-validation-for="Amount"></span>
            </div>
        </div>
        
        <div style="margin-top: 12px;">
            <input type="submit" class="btn btn-primary admin-button" onclick="return name " value="Перевести" />
        </div>
    
    </form>
    </div>
</section>

@section Scripts{


    <script>
        document.getElementById('amountinput').onkeypress = function (e) {
            if (this.value.indexOf(".") != '-1' || this.value.indexOf(",") != '-1') {
                return !(/[.,]/.test(String.fromCharCode(e.charCode)));
            }
        }

        function up(e) {
            if (e.value.indexOf(".") != '-1') {
                e.value = e.value.substring(0, e.value.indexOf(".") + 3);
            }
        }

    </script>

}