<body>
    <section class="table-content">


        <div class="container ">
            <div class="row">

            </div>
            <div class="InsideBankTransfer">
                <h4>Переводы внутри банка</h4>
                <div class="InsideBankCont">
                    <a asp-action="InnerTransfer" asp-controller="Transfer"><img src="../../images/transfer.png" style="width: 30px"> Переводы на карты внутри банка </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum asperiores saepe maxime obcaecati harum, facilis repudiandae iure consequatur necessitatibus voluptas architecto dicta quia, tempore quasi, eos quaerat. Doloremque, facere! Eveniet.
                    </p>
                    <a asp-action ="ConvertUserCurrency" asp-controller="ExchangeRate"><img src="../../images/transfer.png" style="width: 30px"> Перевод между своими счетами </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum asperiores saepe maxime obcaecati harum, facilis repudiandae iure consequatur necessitatibus voluptas architecto dicta quia, tempore quasi, eos quaerat. Doloremque, facere! Eveniet.
                    </p>

                </div>

            </div>
            <div class="InsideBankTransfer">
                <h4>Совершенные переводы</h4>
                <div class="InsideBankCont">
                    <a asp-action="GetTransfers" asp-controller="Transfer"><img src="../../images/transfer.png" style="width: 30px">Все переводы</a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum asperiores saepe maxime obcaecati harum, facilis repudiandae iure consequatur necessitatibus voluptas architecto dicta quia, tempore quasi, eos quaerat. Doloremque, facere! Eveniet.
                    </p>
                    <a  asp-action="GetTransfers" asp-controller="Transfer" asp-route-section="not_confirmed"><img src="../../images/transfer.png" style="width: 30px"> Переводы ожидающие подтверждения </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum asperiores saepe maxime obcaecati harum, facilis repudiandae iure consequatur necessitatibus voluptas architecto dicta quia, tempore quasi, eos quaerat. Doloremque, facere! Eveniet.
                    </p>

                </div>

            </div>
            <div class="OutsideBankTransfer">
                <h4>Переводы между банками Кыргызстана</h4>
                <div class="OutsideBankCont">
                    <a asp-action="InterTransfer" asp-controller="Transfer"><img src="../../images/transfer.png" style="width: 30px"> Переводы на карты между банками Кыргызстана </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum asperiores saepe maxime obcaecati harum, facilis repudiandae iure consequatur necessitatibus voluptas architecto dicta quia, tempore quasi, eos quaerat. Doloremque, facere! Eveniet.
                    </p>
                    <a href=""><img src="../../images/transfer_out.png" style="width: 30px"> Переводы на карты между банками Кыргызстана </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum asperiores saepe maxime obcaecati harum, facilis repudiandae iure consequatur necessitatibus voluptas architecto dicta quia, tempore quasi, eos quaerat. Doloremque, facere! Eveniet.
                    </p>

                </div>

            </div>
            <div class="OutsideCountryTransfer">
                <h4>Переводы между банками за пределами Кыргызстана</h4>
                <div class="OutsideCountryCont">
                    <a href=""><img src="../../images/export.png" style="width: 30px"> Переводы на карты между банками за пределами Кыргызстана </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum asperiores saepe maxime obcaecati harum, facilis repudiandae iure consequatur necessitatibus voluptas architecto dicta quia, tempore quasi, eos quaerat. Doloremque, facere! Eveniet.
                    </p>
                    <a href=""><img src="../../images/export.png" style="width: 30px"> Переводы на карты между банками за пределами Кыргызстана </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum asperiores saepe maxime obcaecati harum, facilis repudiandae iure consequatur necessitatibus voluptas architecto dicta quia, tempore quasi, eos quaerat. Doloremque, facere! Eveniet.
                    </p>

                </div>

            </div>
        </div>
    </section>
</body>
