@{

    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internet Banking</title>
    <link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <link href="../../css/payment_style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="headercontainer">
            <div class="logo">
                <img src="">
            </div>
            <div class="greeting">
                <p>Здравствуйте,<span> XXXX </span></p>
            </div>
            <div class="lang">
                <a href="">en</a>
                <a href="">ru</a>
            </div>

            <div class="help">
                <a href=""><i class="glyphicon glyphicon-question-sign"></i> Помощь</a>
                <a href=""><i class="glyphicon glyphicon-question-sign"></i> Выход</a>
            </div>
        </div>
        <div class="menu">
            <nav class="navbar navbar-inverse">
                <div class="menunav">
                    <ul class="nav navbar-nav">

                        <li><a href="#">Кабинет</a></li>
                        <li><a href="#">Счета</a></li>
                        <li><a href="#">Платежи</a></li>
                        <li><a href="#">Переводы</a></li>
                        <li class="lastli"><a href="#">Справочная информация</a></li>
                    </ul>
                </div>
        </nav>
        </div>

    </header>

    <div class="container ">
        <div class="row">
            <div class="container row col-sm-12 col-md-10">

                <h2>Платежи</h2>
                <div class="leftside">
                    <img src="../../images/list.png" style="width: 15px">
                    <a href="">История платежей</a>
                </div>


                <div class="search">



                    <div class="input-group">
                        <input id="search" type="text" placeholder="Поиск" onfocus="if (this.value == 'Type some text here') {this.value=''}" style="width:550px;" />
                        <div class="button-search"> <span class="input-group-addon">Найти</span></div>

                    </div>

                </div>

                <div class="cont">
                    <a href="">Коммунальные услуги  <img src="../../images/building.png" style="width: 20px"> </a>

                    <a href="">Мобильная связь <img src="../../images/smartphone.png" style="width: 20px"> </a>
                    <a href="">Интернет услуги <img src="../../images/wifi.png" style="width: 20px"> </a>

                </div>
                <div class="cont">

                    <a href="">Бюджетные счета <img src="../../images/transfer.png" style="width: 20px"></a>
                    <a href="">Социальные сети <img src="../../images/networking.png" style="width: 20px"></a>
                    <a href="">Другие платежи <img src="../../images/receipt.png" style="width: 20px"></a>
                </div>

            </div>
            <div class="container row col-sm-12 col-md-2">
                <div class="caption">
                    <h4>Новости</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, laudantium amet. Reprehenderit ut nisi corporis </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-4 col-md-offset-2">
                <div class="frame thumbnail">

                    <div class="caption">
                        <h4>Ставка национального банка</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, laudantium amet. Reprehenderit ut nisi corporis </p>
                    </div>
                </div>
            </div>


            <div class="col-sm-5 col-md-4 col-md-offset-2">
                <div class="frame thumbnail">

                    <div class="caption">
                        <h4> Официальный курс валют</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, laudantium amet. Reprehenderit ut nisi corporis </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-5 col-md-4 col-md-offset-2">
                <div class="frame thumbnail">

                    <div class="caption">
                        <h4> Рыночный курс валют</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, laudantium amet. Reprehenderit ut nisi corporis </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <div class="footer-content">
            <a href="">Контакты</a>
        </div>
    </footer>

</body>
</html>

