@model InternetBanking.ViewModels.EditPaymentCodeViewModel

@{
    Layout = "_Layout2";

}
<section class="form-section" style="margin-top:40px">
    <h2>Редактировать платежный код</h2>

    <form method="post" asp-controller="LimitPaymentCode" asp-action="EditPaymentCode">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="PaymentCode.Id" />
        <div  class="form col-lg-4 col-md-5 col-sm-6  col-xs-12">
                <div class="input-group">
                    <label asp-for="PaymentCodeInfo.Code"></label><br />
                    <input class="form-control" asp-for="PaymentCodeInfo.Code" />
                    <span class="validation" asp-validation-for="PaymentCodeInfo.Code"></span>
                </div>
                <div class="input-group">
                    <label asp-for="PaymentCodeInfo.PaymentCodeName"></label><br />
                    <input class="form-control" asp-for="PaymentCodeInfo.PaymentCodeName" />
                    <span class="validation" asp-validation-for="PaymentCodeInfo.PaymentCodeName"></span>
                </div>
                <div>
                    <input type="submit" class="btn btn-primary admin-button" value="Сохранить" />
                </div>
            </div>
        
    </form>
</section>
