@model System.Collections.Generic.List<InternetBanking.Models.BlackList>

@{
    Layout = "_Layout2";
}

<section class="form-section">
    <h2 style="margin-top: 34px;">Черный список паролей</h2>

    <p>
        <a asp-action="CreateBlackList" class="btn btn-default">Добавить</a>
    </p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Список:
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.BlackListedPassword
                    </td>
                  
                    <td>
                        <a asp-action="EditBlackList" asp-route-id="@item.Id">Редактировать</a> |
                        <a asp-action="DeleteBlackLisedPassword" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>