<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestConnection" connectionString="Server=ICE\\SQLEXPRESS; User Id=sa; password=adm123;Database=InternetBanking2;Trusted_Connection=True;MultipleActiveResultSets=true" />
  </connectionStrings>
</configuration>