@model InternetBanking.ViewModels.CreateTemplateInnerTransferViewModel
@{
    ViewData["Title"] = "CreateTemplateInnerTransfer";
}

<section class="table-content">
    <h2>Шаблон</h2>
    <form method="post" asp-controller="Template" asp-action="CreateTemplateInnerTransfer" >
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        
        <div class="form col-lg-3 col-md-4 col-sm-6  col-xs-12">
            <div>
                <label asp-for="Template.TempalteName"></label><br />
                <input class="form-control" asp-for="Template.TempalteName" />
                <div><span class="validation" asp-validation-for="Template.TempalteName"></span></div>
            </div>
            <div>
                <label asp-for="Template.TemplateDiscription"></label><br />
                <textarea class="form-control" asp-for="Template.TemplateDiscription"></textarea>
                <div><span class="validation" asp-validation-for="Template.TemplateDiscription"></span></div>
            </div>
            <div><label asp-for="Template.IsSetSchedule"></label><br />
                <input type="checkbox"  onclick="open_close_ScheduleForm()" asp-for="Template.IsSetSchedule"/>
            </div>
            @if (Model.Template.IsSetSchedule)
            {
                <div id="schedule-form">
                    <div>
                        <label asp-for="Template.PaymentScheduleViewModel.IntervalCode"></label><br />
                        <select class="form-control" asp-for="Template.PaymentScheduleViewModel.IntervalCode" asp-items="@Model.Template.PaymentScheduleViewModel.IntervalTypes">
                            <option value="0">Выберите интервал</option>
                        </select>
                        <div>
                            <span class="validation" asp-validation-for="Template.PaymentScheduleViewModel.IntervalCode"></span>
                        </div>
                    </div>
                    <div>
                        <label asp-for="Template.PaymentScheduleViewModel.DateStart"></label><br />
                        <input type="date" class="form-control" asp-for="Template.PaymentScheduleViewModel.DateStart" />
                        <div>
                            <span class="validation" asp-validation-for="Template.PaymentScheduleViewModel.DateStart"></span>
                        </div>
                    </div>
                    <div>
                        <label asp-for="Template.PaymentScheduleViewModel.DateEnd"></label><br />
                        <input type="date" value="" class="form-control" asp-for="Template.PaymentScheduleViewModel.DateEnd" />
                        <div>
                            <span class="validation" asp-validation-for="Template.PaymentScheduleViewModel.DateEnd"></span>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div id="schedule-form" style="display: none;">
                    <div>
                        <label asp-for="Template.PaymentScheduleViewModel.IntervalCode"></label><br />
                        <select class="form-control" asp-for="Template.PaymentScheduleViewModel.IntervalCode" asp-items="@Model.Template.PaymentScheduleViewModel.IntervalTypes">
                            <option value="0">Выберите интервал</option>
                        </select>
                        <div>
                            <span class="validation" asp-validation-for="Template.PaymentScheduleViewModel.IntervalCode"></span>
                        </div>
                    </div>
                    <div>
                        <label asp-for="Template.PaymentScheduleViewModel.DateStart"></label><br />
                        <input type="date" class="form-control" asp-for="Template.PaymentScheduleViewModel.DateStart" />
                        <div>
                            <span class="validation" asp-validation-for="Template.PaymentScheduleViewModel.DateStart"></span>
                        </div>
                    </div>
                    <div>
                        <label asp-for="Template.PaymentScheduleViewModel.DateEnd"></label><br />
                        <input type="date" value="" class="form-control" asp-for="Template.PaymentScheduleViewModel.DateEnd" />
                        <div>
                            <span class="validation" asp-validation-for="Template.PaymentScheduleViewModel.DateEnd"></span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="form col-lg-3 col-md-4 col-sm-6  col-xs-12">
            <div>
                <br />
                <label asp-for="Transfer.AccountSenderId"></label><br />
                <select class="form-control" asp-for="Transfer.AccountSenderId" asp-items="@Model.Transfer.UserAccounts">
                    <option value="">Выберите свой счет</option>
                </select>
                <div> <span class="validation" asp-validation-for="Transfer.AccountSenderId"></span></div>
            </div>
            <div>
                <label asp-for="Transfer.ReceiverAccountNumber"></label><br />
                <input class="form-control" type="number" asp-for="Transfer.ReceiverAccountNumber" />
                <div><span class="validation" asp-validation-for="Transfer.ReceiverAccountNumber"></span></div>
            </div>
            <div>
                <label asp-for="Transfer.Amount"></label><br />
                <input class="form-control" type="number" oninput="up(this)" step="0.01" id="amountinput" placeholder="0,00" asp-for="Transfer.Amount" />
                <div><span class="validation" asp-validation-for="Transfer.Amount"></span></div>
            </div>
            <div>
                <label asp-for="Transfer.Comment"></label><br />
                <textarea class="form-control" asp-for="Transfer.Comment"></textarea>
                <div><span class="validation" asp-validation-for="Transfer.Comment"></span></div>
            </div>
            <div style="margin-top: 12px;">
                <input type="submit" class="btn btn-primary" onclick="return name " value="Сохранить" />
            </div>

        </div>
    </form>
</section>


@section Scripts
    {
    <script>
        function open_close_ScheduleForm() {

            if (document.getElementById('schedule-form').style.display === 'none') {
                document.getElementById('schedule-form').style.display = 'inline-block';
            } else {
                document.getElementById('schedule-form').style.display = 'none';
            }
            console.log("jr");
        }
    </script>
}