@model InternetBanking.ViewModels.ForgotPasswordViewModel


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internet Banking</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="~/css/loginstyle.css">


</head>
<body>
    <section class="form-section">

        <div class="container">
            <div class="card card-container">

               
                <h3>Смена пароля</h3>
                <form asp-action="ChangePasswordIfForgot" asp-controller="Manage" method="post" class="form-signin">
                    <div asp-validation-summary="ModelOnly"></div>
                    <span id="reauth-email" class="reauth-email"></span>
                   
                    <input asp-for="NewPassword" type="text" id="inputPassword" class="form-control" placeholder="Новый пароль" required autofocus title="Пароль должен состоять из не менее 8 букв верхнего и нижнего регистров, цифр и симоволов" data-toggle="popover" data-trigger="hover" data-content="Пароль должен состоять из не менее 8 букв верхнего и нижнего регистров, цифр и симоволов">
                    <span asp-validation-for="NewPassword"></span>

                    <input asp-for="ConfirmPassword" type="text" id="inputPassword" class="form-control" placeholder="Подтвердите пароль" required autofocus>
                    <span asp-validation-for="ConfirmPassword"></span>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Сохранить</button>
                    <input type="hidden" asp-for="Id" />
                </form>

                @*<a asp-controller="Manage" asp-action="CheckEmail">Забыли пароль?</a>*@

            </div>
        </div>

    </section>

</body>
</html>